# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/

# Virtual environment
.venv/
env/
venv/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# IDE/editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
